@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "nunito", serif;
    font-size: 30px;
    margin: 10px;
    transition-duration: 1s;
}

.container{
    margin: 0px auto;
    width: 85%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/33a82ede-2e36-4028-98e4-2452a4f756d9/dcgfe3y-ce877edd-aa03-4229-95f4-508e61d338b7.png/v1/fit/w_720,h_1280,q_70,strp/competition_ball__cellphone_size__by_bhrunno_dcgfe3y-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzMzYTgyZWRlLTJlMzYtNDAyOC05OGU0LTI0NTJhNGY3NTZkOVwvZGNnZmUzeS1jZTg3N2VkZC1hYTAzLTQyMjktOTVmNC01MDhlNjFkMzM4YjcucG5nIiwid2lkdGgiOiI8PTcyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.e6jf-kHWVJ8Fae8VnY5_tAmO-UI31UBq34NfLQpE_Eo");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 10px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.icon{
    display: flex;
    transition: 1s ease-in-out;
    flex-wrap: wrap;
    align-content: center;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    
}


#icon1{background-color: orange;}

#icon2{background-color: yellow;}

#icon3{background-color: darkgreen;}

#icon4{background-color: lightgreen;}

#icon5{background-color: lightskyblue;}

#icon6{background-color: palevioletred;}

#icon7{background-color: burlywood;}

#icon8{background-color: purple}

#icon9{background-color: darkorange;}

#icon10{background-color: peachpuff;}

#icon11{background-color: lightpink;}

#icon12{background-color: rgb(244, 253, 185);}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

p{
    display: none;
    align-self: center;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    color: white;
    filter: drop-shadow(3px 3px 3px black);
    flex-grow: 0.5;
}

.pokeball{
    display: none;
    width: 120px;
    height: 120px;
}

@media (max-width: 1120px){
    
    .icon{
        flex-direction: row;
        margin: 0px auto;
        width: 95%;
        height: 150px;
        padding: 10px 10px;
        justify-content: space-around;
    }

    .icon:hover{
        
        background-position: center;
        background-image: url("https://img.freepik.com/free-vector/gradient-zoom-effect-background_23-2149735606.jpg?w=1380&t=st=1716854865~exp=1716855465~hmac=4438ee4197baa4c33254aff5a1680e05a2f22b3da9d270147ccb081476157301");
        transition-duration: 0.3s;
        p{
            color: black;
            border-radius: 10px;
            background-color: rgb(255, 242, 218);
        }
    }

    img{
        margin: auto;
        width: 120px;
      
    }

    p{
        display: inline;
    }

    .pokeball{
        display: inline;
        margin-right: 20px ;
    }

    .flexcontainer{
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
}

@media (max-width: 670px){
    
    .pokeball{
        display: none;
    }
    
    img{
        margin-top: 10px;
        margin-bottom: 9px;
        width: 220px; 
    }
    
    .icon{
        flex-direction: column;
        width: 95%;
        height: 300px;
        justify-content: center;
        align-items: center;
        
    }

    p{
        display: inline;
        width: 50%;
        height: 9px;
    }

    .icon:hover{
        background-position: center;
        background-image: url("https://www.freepik.com/free-vector/gradient-zoom-effect-background_32454982.htm#query=pokemon%20background&position=9&from_view=keyword&track=ais_user&uuid=ce94f083-fd67-425f-8888-5d9e15b072c0");
        transition-duration: 0.5s;

        
    }
    
}

